<div class='detail'>
	  <div class='preview-image' style='background-image: url("https://yasha.rocks/images/<%= person['idHojaVida'] %>.jpg")'>
	  </div>
	<div class='left'>
		 <i class='icon'>
           <img src='<%= person["logo"]  %>' />
            <div class='number'><%= person['numero']%></div>
        </i>
    	<span><%= person['partido'].titleize %></span>
		<h2><%= person['nombres'].titleize %></h2>
        <b class='top-label'><%= person['region'].titleize %></b>
	</div>
	<div class='info-content'>
 		<div class='tags'>
        	<span>DNI: <%= person['dni'] %></span>
        	<span>Edad: <%= person['age'].floor %></span>
        	<span>Region: <%= person['region'].titleize %></span>
        	  <% if person["sentencias"] > 1 %>
             <span class='danger'>Tiene sentencias</span>
            <% else %>
             <span class='success'>No tiene sentencias</span>
            <% end %>
              <% if person["edSuperior"] >= 1 %>
           	  <span class='success'>Con estudios superiores</span>
            <% else %>
             <span class='danger'>Sin estudios superiores</span>
            <% end %>
        </div>
	</div>
</div>

<div class='detail'>

        <div class='cards'>
        	<h3>Experiencia laboral</h3>
              <% if person["countExpLaboral"] >= 1 %>
                 <% person['expLaboral'].sort_by {|obj| -obj['strAnioTrabajoDesde'].to_i}.each do |exp| %>
                  
                     <div class='card'>
                     	<div class='heading'>
	                     	<span class='label'>
	                    	<%=  exp["strAnioTrabajoDesde"] %>
	                     		-
	                     		   <% if exp["strAnioTrabajoHasta"] == "0000" %>
	                     		   Actualidad
	                    <% else %>
	                    	<%=  exp["strAnioTrabajoHasta"] %>
	                    <% end %>
	                     	</span>
	                     </div>
                        <b><%= exp['strOcupacionProfesion'].titleize %></b>
                        <br>En
                        <%= exp['strCentroTrabajo'].titleize %>
                     	<div class='footer'>
	                        <%= exp['strTrabajoPais'].titleize %> -
	                        <%= exp['strTrabajoDepartamento'].titleize %>
                     	</div>
                    </div>
                 <% end %>
                
            <% else %>
            <b>No registra ninguna</b>
            <% end %>
        </div>
</div>

<div class='detail'>

        <div class='cards'>
        	<h3>Educación superior</h3>
              <% if person["edSuperior"] >= 1 %>
              	<% person['eduPosgrado'].each do |edu| %>
                  
                     <div class='card'>
                     	<div class='heading'>
	                     	<span class='label-2'>
		                   		<%= edu['strAnioPosgrado'] %>
	                     	</span>
	                     </div>
                       <b><%= edu['strEspecialidadPosgrado'].titleize %></b>
                        <br>
                        <%= edu['strCenEstudioPosgrado'].titleize %>
                        <div class='footer'>
		                        	Grado: 
		              <% if edu["strEsMaestro"] =="1" %>
		              	Maestro
		              <% elsif edu["strEsDoctor"] =="1" %>
		              Doctor
             			<% end %>

                     	</div>
                    </div>
                 <% end %>
                 <% person['eduUniversitaria'].each do |edu| %>
                  
                     <div class='card'>
                     	<div class='heading'>
	                     	<span class='label-2'>
		                   		<%= edu['strAnioBachiller'] %>
	                     	</span>
	                     </div>
                       <b><%= edu['strCarreraUni'].titleize %></b>
                        <br>
                        <%= edu['strUniversidad'].titleize %>
                    </div>
                 <% end %>
                  <% person['noUniversitaria'].each do |edu| %>
                  
                     <div class='card'>
                     	<div class='heading'>
	                     	<span class='label-2'>
		                   		No universitaria
	                     	</span>
	                     </div>
                       <b><%= edu['strCarreraNoUni'].titleize %></b>
                        <br>
                        <%= edu['strCentroEstudioNoUni'].titleize %>
                    </div>
                 <% end %>
                  <% person['eduTecnico'].each do |edu| %>
                  
                     <div class='card'>
                     	<div class='heading'>
	                     	<span class='label-2'>
		                   		Carrera técnica
	                     	</span>
	                     </div>
                       <b><%= edu['strCarreraTecnico'].titleize %></b>
                        <br>
                        <%= edu['strCenEstudioTecnico'].titleize %>
                    </div>
                 <% end %>
                
            <% else %>
            <b>No registra ninguna</b>
            <% end %>
        </div>
</div>
<div class='detail'>

        <div class='cards'>
        	<h3>Sentencias</h3>
              <% if person["sentencias"] >= 1 %>
                 <% person['sentenciaOblig'].sort_by {|obj| -obj['intItemSentenciaObliga'].to_i}.each do |obl| %>
                  
                     <div class='card'>
                     	<div class='heading'>
	                     	<span class='label-3'>
	                    	<%=  obl["strExpedienteObliga"] %>
	                     	</span>
	                     </div>
                        <b><%= obl['strOrganoJuridicialObliga'].titleize %></b>
                        <br>
	                        <%= obl['strMateriaSentencia'].titleize %> 
                        
                        
                     	<div class='footer'>
	                        <%= obl['strFalloObliga'].titleize %> 
                     	</div>
                    </div>
                 <% end %>
                
            <% else %>
            <b>No registra ninguna</b>
            <% end %>
        </div>
</div>
<div class='main-news'>
	<div class='detail'>
		<%  news.each do |item| %>
		<%  if item["last_news"].count > 0 %>

			<%  item["last_news"].each do |item| %>
				<div class='item-content'>
					<div class='entities'>
						<span><%=item["date"]%> </span>
					</div>
					<div class='item-detail'>
						
						<div class='meta'>
							<h4>
								<a href='<%=item["link"]%>'>
									<%=item["title"]%>
								</a>
							</h4>
							<div class='info'>
							<small>
								 <b><%=item["source"]%> </b>
							</small>
							
							</div>
						</div>	
						<div class='addon'>
							
						</div>
					</div>
				</div>

			<% end %>
	<% else %>
			No hay noticias que mostrar
			<% end %>
	<% end %>
	
</div>
</div>
